* {
    margin: 0;
    font-family: Inter;
}

p {
    font-family: Poppins;
}

.bg1 {
    background: #4F9DA61A;
}

.bg2 {
    background: #FF59591A;
}

.bg3 {
    background: #FFF4D6;
}

.btn-primary {
    border-radius: 5px;
    background: #FF5959;
    color: #fff;
    padding: 15px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    margin: 25px 5px;
}

.section-container {
    text-align: center;
    padding: 40px 220px;
    margin-top: 20px;
}

.section-title {
    font-size: 45px;
    color: #121212;
    padding: 10px 0;
}

.section-text {
    font-size: 18px;
    color: #707070;
    padding: 10px 0;
}

/* header styles */
.header-section {
    height: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    background-image: url(../images/donation1.jpg);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 160px;
}

.header-section h1 {
    font-size: 60px;
}

.header-section p {
    font-size: 18px;
    font-family: Poppins;
    padding: 25px 70px;
}

/* Donate styles */
.donate {
    border-bottom: 1px solid #DADADA;
    padding: 15px 10px;
}

.donate-amount {
    display: flex;
    justify-content: space-evenly;
}

.donate>span {
    color: #B3B3B3;
    line-height: 28px;
    font-size: 18px;
}

.donate-items {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    text-align: left;
}

.donate-post {
    display: flex;
    justify-content: space-between;
}

.donate-post>.donate-content,
.donate-post>.donate-img {
    text-align: left;
    padding: 5px;
    margin: 5px;
}

.donate-img img {
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;
}

.donate-items>.item {
    padding: 30px 20px;
    margin: 10px;
    border-radius: 5px;
}

.item>img {
    width: 45px;
    padding: 10px 0;
}

.item>h4 {
    font-size: 20px;
    color: #121212;
    padding: 5px 0;
}

.item>p {
    color: #707070;
    padding: 5px 0;
    font-size: 16px;
}

.amount {
    font-size: 30px;
    color: #707070;
    padding: 20px;
    background: #FAFAFA;
    margin: 20px 0;
    border-radius: 5px;
}

.highlight {
    color: #FF5959;
    background: #FEE;
    border: 1px solid #FF5959;
}